@import "./Utils/variables";
@import "./Utils/functions";
@import "./Utils/mixins";
@import "./Layout/footer";
@import "./Layout/header";

/* GENERAL */

/* Body */
body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/* Bouton */
.Bouton {
    @include Bouton-primaire;
}
/* Class Margin-left */
.Marg-left {
    margin-left: 15px;
}
/* Page d'Accueil */

/* Section Intro */
#Loc { /* Localisation */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $couleur-fond-Loc;
    height: 45px;
    width: 100%;
    color: $couleur-footer;
    box-shadow: 0px 2px 5px grey inset;
    i {
        margin-right: 15px;
    }
    p {
       font-weight: bold; 
    }
}
#Intro { /* Introduction Page d'Accueil */
    background-color: $couleur-fond-primaire;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
        width: 75%;
        margin-bottom: 8px;
        margin-top: 30px;
    }
    p {
        width: 80%;
        margin: 0px;
    }
    input {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
/* Fonctionnement */
#Notice {
    ol {
        margin-left: -35px;
        list-style: none;
        counter-reset: li;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    li {
        width: 270px;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 18px;
        @include Ombre-exter;
        &:before { /* Compteur liste */
            content: counter(li);
            counter-increment: li;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-left: -20px;
            color: white;
            background-color: $couleur-primaire;
            border: $couleur-primaire 1px solid;
            border-radius: 20px;
        }
        p {
            width: 75%;
            font-weight: bold;
        }
    }
}
.Notice_li-gris {
    background-color: $couleur-fond-primaire ;
    i {
        color: grey;
    }
}
.Notice_li-rose {
    background-color: #f5edff ;
    i {
        color: $couleur-primaire;
    }
}
/* Restaurant Accueil */
#Resto-Accueil {
    background-color: $couleur-fond-primaire;
    width: 100%;
    padding-bottom: 50px;
    > div { /* Liste des Restaurants */
        width: 100%;
        height: 1080px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        a {  /* Bloc de chaque Restaurant */
            text-decoration: none;
            color: $couleur-texte-primaire;
            width: 290px;
            height: 250px;
            border-radius: 15px;
            overflow: hidden;
            @include Ombre-exter;
            article {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                height: 100%;
                .Legende-Resto {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 25%;
                    background-color: $couleur-fond-secondaire;
                    padding-left: 15px;
                    padding-right: 20px;
                    i {
                        font-size: 1.5em;
                    }
                    &__Texte {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h3, p {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }  
}

.Resto-Accueil-Img {
    height: 75%;
	width: 100%;
	object-fit: cover;
}

/* Tablette */
@media screen and (min-width: 760px) and (max-width: 870px){
    body {
        font-size: 1.1em;
    }
    #Notice {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #Resto-Accueil {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 650px;
        > div {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

/* Pc */
@media screen and (min-width: 1023px) {
    #Notice {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        ol {
            flex-direction: row;
            width: 75%;
            justify-content: space-between;
        }
    }
    #Resto-Accueil {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 370px;
        > div {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
}