@import "./Utils/variables";
@import "./Utils/functions";
@import "./Utils/mixins";
@import "./Layout/body";
@import "./Layout/footer";
@import "./Layout/header";

/* GENERAL */

/* Loader */
@keyframes Load {
    0% {
        opacity: .7;
    }
    100% {
        opacity: .7;
    }
}
@keyframes Spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(900deg);
    }
}
#Loader {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    opacity: 0;
    animation: Load 2500ms;
    i {
        position: fixed;
        z-index: 10;
        color: $couleur-primaire;
        font-size: 4em;
        animation: Spin 2500ms linear;
    }
}
/* Liens */ 
a {
    text-decoration: none;
    color: $couleur-texte-primaire;
}
/* Bouton */
.Bouton {
    @include Bouton-primaire;
}
/* Class Margin-left */
.Marg-left {
    margin-left: 15px;
}

/* Page d'Accueil */

/* Section Intro */
#Loc { /* Localisation */
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $couleur-fond-Loc;
    color: $couleur-footer;
    box-shadow: 0px 2px 5px grey inset;
    i {
        margin-right: 15px;
    }
    p {
       font-weight: bold; 
    }
}
#Intro { /* Introduction Page d'Accueil */
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $couleur-fond-primaire;
    h2 {
        width: 75%;
        margin-bottom: 8px;
        margin-top: 30px;
    }
    p {
        width: 80%;
        margin: 0px;
    }
    input {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
/* Fonctionnement */
#Notice {
    ol {
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: -35px;
        list-style: none;
        counter-reset: li;
    }
    li {
        height: 60px;
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 18px;
        @include Ombre-exter;
        &:before { /* Compteur liste */
            content: counter(li);
            counter-increment: li;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-left: -20px;
            color: white;
            background-color: $couleur-primaire;
            border: $couleur-primaire 1px solid;
            border-radius: 20px;
        }
        p {
            width: 75%;
            font-weight: bold;
        }
    }
}
.Notice_li-gris {
    background-color: $couleur-fond-primaire ;
    i {
        color: grey;
    }
}
.Notice_li-rose {
    background-color: #f5edff ;
    i {
        color: $couleur-primaire;
    }
}
/* Restaurant Accueil */
#Resto-Accueil {
    width: 100%;
    padding-bottom: 50px;
    background-color: $couleur-fond-primaire;
    > div { /* Liste des Restaurants */
        height: 1080px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        a {  /* Bloc de chaque Restaurant */
            height: 250px;
            width: 290px;
            border-radius: 15px;
            overflow: hidden;
            @include Ombre-exter;
            article {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;
                .Legende-Resto {
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 15px;
                    padding-right: 20px;
                    background-color: $couleur-fond-secondaire;
                    i {
                        font-size: 1.5em;
                    }
                    &__Texte {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h3, p {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }  
}

.Resto-Accueil-Img {
    height: 75%;
	width: 100%;
	object-fit: cover;
}
.New {
    height: 25px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: $couleur-tertiaire;
    color:#008766;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.Coeur {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__plein {
        position: absolute;
        background: linear-gradient(170deg, $couleur-primaire, $couleur-secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: all 0.5s;
        &:hover {
            opacity: 100;
            transition: all 0.5s;
        }
    }
    &__vide {
        opacity: 100;
        transition: all 0.5s;
    }
    &:hover > &__vide {
        opacity: 0;
        transition: all .5s;
    }
}

/* Pages Menus */
@keyframes Menu-Anim {
    0% {
        margin-top: 15px;
        opacity: 0;
    }
    100% {
        margin-top: 5px;
        opacity: 1;
    }
}

.fa-arrow-left {
    font-size: 1.2em;
    position: absolute;
    left: 20px;
    top: 23px;
    color: $couleur-footer;
}

.Bloc-Img {
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Menu-Complet {
    height: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $couleur-fond-primaire;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: -30px;
    overflow: hidden;
    position: relative;
    top: -30px;
    &__Titre {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Shrikhand', cursive;
        i {
            margin-left: 30px;
            font-size: 1.5em;
        }
    }
    .Bouton {
        margin-top: 40px;
    }
}

.Menu-section {
    height: 260px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    &__Titre {
        p {
            margin-bottom: 3px;
        }
        div {
            height: 3px;
            width: 30px;
            margin-bottom: 5px;
            background-color: $couleur-tertiaire;
        }
    }
}

.Menu-choix {
    height: 60px;
    width: 285px;
    display: flex;
    background-color: $couleur-fond-secondaire;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: Menu-Anim $temps-animation-menu;
    animation-fill-mode: both;
    @include Ombre-exter;
    &__texte {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        div {
            width: 235px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            transition: all 0.5s;
            h3 {
                margin: 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            p {
                margin: 0px;
                margin-top: 3px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        > p {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 12px;
            margin-right: 15px;
            font-weight: bold;
        }
    }
    &__check {
        height: 100%;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $couleur-tertiaire;
        color: white;
        margin-right: -60px;
        font-size: 1.5em;
        transition: all 0.5s;
    }
    &:hover > .Menu-choix__check {
        margin-right: 0px;
        transition: all 0.5s;
    }
    &:hover > .Menu-choix__check > i {
        transform: rotate(360deg);
        transition: all .5s;
    }
    &:hover > .Menu-choix__texte > div {
        width: 185px;
        transition: all 0.5s;
    }
}

.Delay1 {
    animation-delay: $delai-animation-menu;
}
.Delay2 {
    animation-delay: 2*$delai-animation-menu;
}
.Delay3 {
    animation-delay: 3*$delai-animation-menu;
}
.Delay4 {
    animation-delay: 4*$delai-animation-menu;
}
.Delay5 {
    animation-delay: 5*$delai-animation-menu;
}
.Delay6 {
    animation-delay: 6*$delai-animation-menu;
}
.Delay7 {
    animation-delay: 7*$delai-animation-menu;
}
.Delay8 {
    animation-delay: 8*$delai-animation-menu;
}

/* Tablette */
@media screen and (min-width: 760px) and (max-width: 870px){
    body {
        font-size: 1.1em;
    }
    #Notice {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #Resto-Accueil {
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > div {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

/* Pc */
@media screen and (min-width: 1023px) {
    #Notice {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        ol {
            width: 75%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    #Resto-Accueil {
        height: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > div {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .Menu-Complet {
        height: 450px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        top: -600px;
        margin-bottom: -600px;
        &__Titre {
            width: 100%;
            font-size: 1.5em;
        }
    }
    .Menu-section__Titre {
        font-size: 1.2em;
    }
    .Bloc-Img {
        height: 1200px;
        width: 100%;
        img {
            width: 100%;
        }
    }
}