/* GENERAL */
/* Body */
body {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

/* Bouton */
.Bouton {
  color: white;
  background-color: #FF79DA;
  height: 43px;
  width: 180px;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: lightgrey 0px 5px 5px, #9356DC -8px -10px 30px inset;
          box-shadow: lightgrey 0px 5px 5px, #9356DC -8px -10px 30px inset;
}

.Bouton:hover {
  background-color: #ff88de;
  -webkit-box-shadow: lightgray 0px 8px 8px, #9b63df -8px -10px 30px inset;
          box-shadow: lightgray 0px 8px 8px, #9b63df -8px -10px 30px inset;
}

/* Class Margin-left */
.Marg-left {
  margin-left: 15px;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

header img {
  height: 25px;
}

/* Page d'Accueil */
/* Section Intro */
#Loc {
  /* Localisation */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
  height: 45px;
  width: 100%;
  color: #353535;
  -webkit-box-shadow: 0px 2px 5px grey inset;
          box-shadow: 0px 2px 5px grey inset;
}

#Loc i {
  margin-right: 15px;
}

#Loc p {
  font-weight: bold;
}

#Intro {
  /* Introduction Page d'Accueil */
  background-color: #F6F6F6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#Intro h2 {
  width: 75%;
  margin-bottom: 8px;
  margin-top: 30px;
}

#Intro p {
  width: 80%;
  margin: 0px;
}

#Intro input {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Fonctionnement */
#Notice ol {
  margin-left: -35px;
  list-style: none;
  counter-reset: li;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Notice li {
  width: 270px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 18px;
  -webkit-box-shadow: lightgrey 0px 5px 5px;
          box-shadow: lightgrey 0px 5px 5px;
}

#Notice li:before {
  /* Compteur liste */
  content: counter(li);
  counter-increment: li;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: -20px;
  color: white;
  background-color: #9356DC;
  border: #9356DC 1px solid;
  border-radius: 20px;
}

#Notice li p {
  width: 75%;
  font-weight: bold;
}

.Notice_li-gris {
  background-color: #F6F6F6;
}

.Notice_li-gris i {
  color: grey;
}

.Notice_li-rose {
  background-color: #f5edff;
}

.Notice_li-rose i {
  color: #9356DC;
}

/* Restaurant Accueil */
#Resto-Accueil {
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 50px;
}

#Resto-Accueil > div {
  /* Liste des Restaurants */
  width: 100%;
  height: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Resto-Accueil > div a {
  /* Bloc de chaque Restaurant */
  text-decoration: none;
  color: black;
  width: 290px;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: lightgrey 0px 5px 5px;
          box-shadow: lightgrey 0px 5px 5px;
}

#Resto-Accueil > div a article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
}

#Resto-Accueil > div a article .Legende-Resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  background-color: white;
  padding-left: 15px;
  padding-right: 20px;
}

#Resto-Accueil > div a article .Legende-Resto i {
  font-size: 1.5em;
}

#Resto-Accueil > div a article .Legende-Resto__Texte {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Resto-Accueil > div a article .Legende-Resto__Texte h3, #Resto-Accueil > div a article .Legende-Resto__Texte p {
  margin: 0px;
}

.Resto-Accueil-Img {
  height: 75%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Footer */
footer {
  width: 100%;
  height: 200px;
  background-color: #353535;
  color: white;
}

footer ul {
  list-style-type: none;
  margin-left: -25px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer i {
  margin-right: 10px;
  font-size: 0.8em;
}

footer li {
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */