@mixin Ombre-exter {
    box-shadow: lightgrey 0px 5px 5px;
}
@mixin Bouton-primaire {
    height: 43px;
    width: 180px;
    color: white;
    background: linear-gradient(170deg, $couleur-secondaire, $couleur-primaire);
    border: none;
    border-radius: 25px;
    box-shadow: lightgrey 0px 5px 5px;
    transition: all 200ms linear;
    &:hover {
        filter: brightness(110%);
        box-shadow: rgba(185, 185, 185, 0.986) 0px 8px 10px;
    }
}