$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-footer:#353535;
$couleur-footer-texte:white;
$couleur-fond-Loc: #EAEAEA;
$couleur-fond-primaire: #F6F6F6;
$couleur-fond-secondaire: white;
$couleur-texte-primaire: black;
$couleur-primaire-claire: lighten($couleur-primaire, 3%);
$couleur-secondaire-claire: lighten($couleur-secondaire, 3%);